body{
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #12442F;
    background-color: #999E93;
}
header{
    background-color: #7EC3C0 ;
    height: fit-content;
    color: #3F4928;
    /* padding: 20px 10px; */
}
.stick-he{
    position: sticky;
    top: 0px;

}
nav{
    padding: 10px;
}
h1{
    font-weight: bold;
    font-size: 1.5em;

}
p{
    margin: 5px;
}

.card {
    border: 1px solid  #7EC3C0;
    background-color: #E2EBDA;
    width:55%;
    display: inline-block;
    padding: 20px;
    box-shadow: 5px 0px 10px  #3F8067;
    margin: 10px 10px;
}

.parheading{
    display: inline-block;
    background-color: #7EC3C0;
    color: #E2EBDA;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;


}

#fromScript{
    font-size: larger;
}

li{
    text-align: left;
    margin: 3px;

}
.child-li{
    padding-left: 10px;
    padding-inline-start: 10px;

    list-style-type: disc;
    list-style-position: inside;
}
ul,ol{
    list-style-position: inside;
    padding-inline-start: 10px;
    margin: 5px;;

}
ul {
    list-style-type: circle;
}
ol{
    list-style-type: decimal;

}
section>ul, ol{
    margin: 30px 0px;
}
ul.doc-write {
    display: inline-block;
    width: max-content;
    padding-inline-start: 0px;
}
ul.doc-write li {
    text-align: center;
    list-style-type: none;


}